# Standard Terraform ignore patterns
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
!prod.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Project specific
template.md
.agents
.vscode
local.tfvars

