# Monitoring (Uptime Kuma)
monitor.rp4.${tailnet} { reverse_proxy localhost:3001 }

# Password manager (Vaultwarden)
vaultwarden.rp4.${tailnet} { reverse_proxy localhost:80 }

# Home Assistant routing
homeassistant.mainServer.${tailnet} { reverse_proxy mainServer.${tailnet}:8123 }

# ezBookKeeping routing
ezbk.mainServer.${tailnet} { reverse_proxy mainServer.${tailnet}:8080 }

# Ollama routing
ollamapi.voice.${tailnet} { reverse_proxy voice.${tailnet}:11434 }
ollama.voice.${tailnet} { reverse_proxy voice.${tailnet}:8080 }

# Whisper (STT) - Piper (TTS) routing
whisper.voice.${tailnet} { reverse_proxy voice.${tailnet}:10300 }
piper.voice.${tailnet} { reverse_proxy voice.${tailnet}:10200 }